In [2]:
import numpy as np
import pandas as pd


df = pd.read_csv('data kecelakaan di kabupaten cirebon.csv')
df

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,kategori_korban,jumlah_korban,satuan,tahun
0,1,32,JAWA BARAT,3209,KABUPATEN CIREBON,KORBAN LAKA MENINGGAL DUNIA,201,ORANG,2022
1,2,32,JAWA BARAT,3209,KABUPATEN CIREBON,KORBAN LAKA LUKA BERAT,3,ORANG,2022
2,3,32,JAWA BARAT,3209,KABUPATEN CIREBON,KORBAN LAKA LUKA RINGAN,959,ORANG,2022
3,4,32,JAWA BARAT,3209,KABUPATEN CIREBON,KERUGIAN MATERI,1232051200,RUPIAH,2022
4,5,32,JAWA BARAT,3209,KABUPATEN CIREBON,JUMLAH LAKA LANTAS,835,KASUS,2022

In [3]:
print("""
    Data Kecelakaan Lalu Lintas di Kabupaten Cirebon Tahun 2022
    
    1.Korban Meninggal Dunia sebanyak 201 orang
    2.Luka berat hanya 3 orang
    3.Kebanyakan hanya luka ringan saja berjumlah 959 orang
    4.Kerugian Materi mencapai Rp. 1.232.051.200
    5.Jumlah Kasus Laka Lantas Berjumlah 835 Kasus
""")

    Data Kecelakaan Lalu Lintas di Kabupaten Cirebon Tahun 2022

    1.Korban Meninggal Dunia sebanyak 201 orang
    2.Luka berat hanya 3 orang
    3.Kebanyakan hanya luka ringan saja berjumlah 959 orang
    4.Kerugian Materi mencapai Rp. 1.232.051.200
    5.Jumlah Kasus Laka Lantas Berjumlah 835 Kasus